# Keystatic
KEYSTATIC_GITHUB_CLIENT_ID=Iv23lisCfTFG18r810XO
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=jessica-hunter-com # https://github.com/apps/jessica-hunter-com
